.abc{
    margin: 10px;
    padding:10px;
    background-color:orange;
    color:white;
    text-decoration: none;
}

.mynav
{
    margin: 10px;
    padding: 5px;
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.box
{
    width:500px;
    height:100px;
    background-color:orange
}


.myflex
{
    border:1px solid gray;
    display: flex;
    width:100%;
    height:auto;
    background-color: orange;
    flex-wrap: wrap;
}
.myflex section{
    width:300px;
    height:300px;
    background-color:gray;
    border:1px solid white;
    margin:5px;
}
.myflex img{
    width:100%;
}
@import "~react-image-gallery/styles/css/image-gallery.css";



.myscondnav a
{
    width:200px;
    height:40px;
    text-align: center;
    display: inline-block;
    border:1px solid red;
}

.abcdf td
{
    border:1px solid red;
}
